body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: green;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
p {
  font-family: Lato;
}
.card {
  border: 4px solid skyblue;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  margin: 10px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 50px;
  box-shadow: 3px 0px 8px 3px #444;
}
.card.flipped {
  background: white;
}
.card.removed {
  background: green;
  border-color: green;
  box-shadow: none;
}

.grid-square {
  padding: 10px;
  box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.2),
    inset 1px -2px 4px -1px rgba(0, 0, 0, 0.2);
}
.mat {
  margin-top: 20px;
  border: 8px solid #444;
  border-radius: 8px;
  padding: 10px;
  min-width: 410px;
  max-width: 410px;
  box-shadow: 4px 1px 10px 10px black;
}
.cardset {
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 3px;
}

button.hide {
  display: none;
}
